

section{  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        background-color: #e6ece1;
        color: #425a65;
        height: 100vh;
    
}

